.Pokecard {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding: 2em;
    margin: 2em;
    background-color: rgb(126, 65, 65);
    color: #eee;
    transition: all 0.3s ease-in-out;
}
img{
    width: 150px;
    transition: transform 0.3s ease-in-out;
}
img:hover{
    transform: scale(1.25);
}
.Pokecard:hover{
    background-color: #eee;
    color:rgb(126, 65, 65);
}
.Pokecard--type, .Pokecard--experience{
    text-transform: uppercase;
    font-weight: 500;
    font-size: large;
}